<!DOCTYPE html>
<html lang="en">
<head>
{%block head%}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0">
{%endblock%}
</head>
<body>
  <header>
    <div id="graph-form">
        <form action="{{ url_for('main')}}" method="post">
            <p><textarea name="graph"></textarea></p>
            <p><input name="algorithm" type="radio" value="GA+NN"> Genetic algorithm + NearestNeighbour </p>
            <p><input name="algorithm" type="radio" value="GA"> Genetic algorithm </p>
            <p><input name="algorithm" type="radio" value="BNN"> Best Nearest neighbour </p>
            <p><input name="algorithm" type="radio" value="NN"> Nearest neighbour </p>

            <input type="submit">
        </form>
    </div>

  
</body>
</html>